/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap'); */
@font-face {
    font-family: 'Lato';
    src: url('@fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Black';
    src: url('@fonts/Lato/Lato-Black.ttf');
}

:root {
    --main-text-color: rgb(25, 25, 25);
    --text-coler: #fff;
    --general-input-text-color: rgb(25, 25, 25);
    --general-input-text-invalid-color: #ff0008;
    --a-hover-text-color: rgb(100, 100, 100);
}

body {
    font-family: 'Lato', sans-serif;
}
