.footer-logo-layout {
}

.footer-main-layout {
    padding: 24px;
}
.footer-logo-text {
    margin-left: 12px;
    font-size: 18px;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: bold;
}
