.topbar-main-layout {
    padding-left: 24px;
    padding-right: 24px;
    height: 64px;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
}

.topbar-logo-text {
    margin-left: 12px;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.topbar-search-input {
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 20px 10px 36px;
    height: 38px;
    border: none;
}
.topbar-search-layout {
    position: relative;
    margin-right: 12px;
    min-width: 330px;
}

.topbar-search-input-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.topbar-profile-img {
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.topbar-btn {
    border: none;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 26px;
    border-radius: 25px;
    margin-left: 6px;
    margin-right: 6px;
}

.topbar-btn:hover {
    background: #333;
    color: #fff;
}

.topbar-btn.active {
    background: #fff;
    color: #333;
}

.topbar-btn-create-post {
    color: #fff;
    background: linear-gradient(114.66deg, #ffb800 15.42%, #ff5d5d 83.95%);
}

.topbar-btn-sing-up {
    color: #fff;
    background: linear-gradient(267deg, #8d2ee4 -17.94%, #2d9bea 97.51%);
}

.topber-btn-icon {
    position: relative;
    top: -2px;
}

/* custom-bootstrap-css */
.modal-content {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
