.aboutUs-main-layout {
    height: auto;
    color: var(--main-text-color);
}

.info-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
}

.info-text{
    font-size: 22px;
}

.logo{
    width: 250px;
    height: 250px;
}

.dev-info-title{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.dev-profile{
    width: 200px;
    height: 200px;
}