.auth-layout {
    height: 100vh;
    min-height: 700px;
}
.auth-form-layout {
    transition: width 0.3s ease-out;
}
.auth-image-layout {
    transition: width 0.3s ease-out;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.auth-image {
    height: 84px;
}
.auth-logo-text {
    padding: 0px;
    margin: 0px;
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}

.auth-wellcome-text {
    padding: 0px;
    margin: 0px;
    color: var(--main-text-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}

.auth-title {
    padding: 0px;
    margin: 0px;
    color: var(--main-text-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 42px;
}

.auth-a-create {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: #742a8d !important;
}
.auth-a-create:hover {
    color: #a412d5 !important;
}

.auth-a-recovery {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: #20648a !important;
}
.auth-a-recovery:hover {
    color: #1b82bd !important;
}

.auth-input {
    height: 58px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    background: #ebebeb;
    border: none;
    border-radius: 10px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 0px;
    border: 0px solid #c91b1e;
}
.auth-input:focus {
    background: #e6e6e6;
    box-shadow: none;
    border: none;
}

.auth-input.invalid {
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 3px #c91b1e;
}

.auth-invalid-message-text {
    font-size: 12px;
    color: #c91b1e;
    height: 18px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.auth-label {
    position: absolute;
    top: 20px;
    left: 18px;
    font-size: 18px;
    line-height: 18px;
    margin: 0px;
    transition-property: transform, font-size;
    transition-duration: 0.05s;
}
.auth-label.active {
    transform: translate(0px, -16px);
    font-size: 12px;
    transition-property: transform, font-size;
    transition-duration: 0.1s;
}

.auth-input-form {
    position: relative;
}

.auth-button {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #ffffff;
    background: linear-gradient(96.43deg, #ff758c -1.21%, #ff7eb3 100%);
    border-radius: 10px;
    padding: 16px 20px;
    border: none;
}

.auth-button:hover {
    color: #ffffff;
    border: none;
    background: linear-gradient(96.43deg, #ee546d -1.21%, #d2427e 100%);
}

.auth-img-position-layout {
    overflow: hidden;
}

.position-img {
    height: 100%;
    object-fit: cover;
}

.auth-profile-Highlight-layout {
    position: relative;
}
.auth-profile-Highlight-layout-content {
    position: absolute;
    right: 48px;
    bottom: 40px;
}
.auth-Highlight-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;
}

.auth-stay-logined-in {
    position: relative;
    top: 14px;
    height: 22px;
    margin: 0px;
}
.auth-stay-logined-in-text {
    margin-left: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    height: inherit;
}

.temp-space {
    width: 10px;
}

.auth-toast {
    position: fixed;
    width: 350px;
    top: 0;
    left: 50%;
    margin-left: -175px;
    margin-top: 12px;
}

@media (min-width: 576px) {
    .auth-toast {
        width: 350px;
        position: fixed;
        top: 0;
        right: 0;
        left: auto;
        margin-top: 24px;
        margin-right: 24px;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
