.home-main-layout {
    height: auto;
    color: var(--main-text-color);
}

.home-btn-create-post {
    background: linear-gradient(114.66deg, #ffb800 15.42%, #ff5d5d 83.95%);
    border: 0px;
    border-radius: 10px;
    color: var(--text-coler);
    font-family: 'Lato' !important;
    font-size: 18px;
    height: 70px;
    width: 550px;
}

.home-btn-sign-up {
    background: linear-gradient(267deg, #8d2ee4 -17.94%, #2d9bea 97.51%);
    border: 0px;
    border-radius: 10px;
    color: var(--text-coler);
    font-family: 'Lato' !important;
    font-size: 18px;
    height: 70px;
    width: 550px;
}

.home-icon {
    position: relative;
    top: -2px;
    margin-right: 10px;
}

.home-info-title {
    font-size: 64px;
    font-weight: bolder;
    font-family: 'Lato' !important;
}

.home-info-text {
    font-size: 28px;
    font-weight: lighter;
    font-family: 'Lato' !important;
}

.leaderboard-title {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato' !important;
}

.artist-profile {
    width: 240px;
    height: 240px;
    object-position: center;
    object-fit: cover;
}

.ranked-art {
    width: 240px;
    height: 240px;
    object-position: center;
    object-fit: cover;
}
