.home-main-layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: black;
    /* overflow: hidden; */
}

.home-main-backgroung-layout {
    position: fixed;
    height: inherit;
    width: inherit;
    z-index: 1;
}
.home-main-content-layout {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-main-content-layout-activity-items {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100vw;
    overflow: scroll;
}

.background-img {
    height: 100vh;
    width: 100vw;
}

@media (min-width: 768px) {
    .home-main-info-layout {
        background-color: transparent;
        transition-property: background-color;
        transition-duration: 0.1s;
    }
}

h3,
h6 {
    color: white;
}