.proPage-mainLayout {
    position: sticky;
    z-index: 0;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas:
        'proPage-cover proPage-cover'
        'proPage-nav proPage-post';
}

.proPage-cover {
    grid-area: proPage-cover;
    display: grid;
    grid-template-columns: 50% 50%;
    position: sticky;
    height: 300px;
    background-image: url('@assets/images/cover_default.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.proPage-blurBack {
    position: absolute;
    bottom: 0;
    z-index: -1;
    height: 55%;
    width: 100%;
    opacity: 50%;
}

.proPage-name,
.proPage-profile,
.proPage-editPro-btn {
    z-index: auto;
}

.proPage-profile {
    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content;
    column-gap: 20px;

    align-self: flex-end;
    justify-self: right;

    margin: 10px 50px;
}

.proPage-proText {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-auto-flow: row;
    grid-template-rows: 45px 30px;
    column-gap: 10px;
    z-index: 1;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-self: right;
}

.proPage-name {
    font-size: 40px;
    font-weight: bolder;

    text-shadow: 0px 0px 0% white;
    color: rgb(0, 0, 0);
    margin: 0%;
}

.proPage-username {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 0%;
}

#proPage-verified-btn {
    width: 28px;
    height: 28px;
    align-self: center;
    color: rgb(0, 0, 0);
}

.proPage-proPicOutLine {
    display: grid;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    align-self: center;
}

#proPage-proPic {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    position: absolute;
    z-index: 2;
}

.proPage-proPic-edit {
    width: 125px;
    height: 125px;
    margin: 0%;
    border-radius: 50%;
    outline: none;

    align-self: center;
    justify-self: center;
    z-index: 2;

    color: #ff7eb3;
    font-weight: bold;

    opacity: 0;
    background-color: #02000073;
}

.proPage-proPic-edit:hover {
    outline: none;
    border: none;
    opacity: 1 !important;
    transition: 0.2s;
}

.proPage-proPic-edit p {
    margin: 0;
    text-align: center;
}

#proPage-changeIcon {
    width: 30px;
    height: 30px;
    align-self: center;
}

button.proPage-editPro-btn {
    width: 150px;
    height: 45px;

    display: grid;
    grid-auto-flow: column;
    row-gap: 10px;
    align-items: center;
    align-self: flex-end;

    background-color: white;
    outline: none;
    border: none;
    box-shadow: 0px 5px 10px #0000003f;
    border-radius: 10px;
    margin: 25px 50px;

    font-size: 18px;
    color: #ff758c;
}

button.proPage-editPro-btn:hover {
    background: linear-gradient(to right, #f187b3, #ff7e89);
    box-shadow: 0px 5px 10px #0000003f;
    color: white;
}

#proPage-editPro-icon {
    width: 23px;
    height: 23px;
    margin: auto;
    border-radius: 8px;
}

.proPage-followInfo {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    grid-template-rows: 75px 1fr;
    row-gap: 15px;
    justify-items: center;
    align-items: center;

    margin: 15px 25px;
}

.proPage-navContainer {
    display: grid;
    grid-template-rows: 2fr 1px 5fr;
    grid-template-columns: 1fr;

    grid-area: proPage-nav;
}

.proPage-postPanel {
    grid-area: proPage-post;
}
