@media screen and (max-width: 320px) {
    body {
        width: fit-content;
    }
}

.propage-mainlayout {
    position: relative;
    z-index: 0;
    display: grid !important;
    grid-template-areas:
        'propage-cover propage-cover'
        'propage-nav propage-post';

    grid-template-columns: 1fr 3fr;
} /*

.proPage-cover {
    position: sticky;
    grid-area: proPage-cover;
    display: grid;
    grid-template-columns: 50% 50%;

    height: 300px;
    background-image: url('https://drive.google.com/uc?export=view&id=1rG9YQh8LNzFAO6RrzMbTcrDkfGsgaLt-');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.proPage-blurBack {
    position: absolute;
    bottom: 0;
    height: 55%;
    z-index: -1;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255)
    );
}

.proPage-profile {
    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content;
    column-gap: 20px;

    align-self: flex-end;
    justify-self: right;

    margin: 10px 50px;
}

.proPage-proText {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-flow: row;
    grid-template-rows: 45px 30px;
    column-gap: 10px;
    z-index: 1;
    text-align: right;
    align-self: center;
    align-items: center;
    justify-self: right;
}

.proPage-name {
    font-family: 'Lato-Black';
    font-size: 40px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    margin: 0%;
}

.proPage-username {
    font-size: 22px;
    color: rgb(99, 99, 99);
    margin: 0%;

    text-align: right;
}

.proPage-proPicOutLine {
    display: grid;
    width: 130px;
    height: 130px;
    position: relative;
    align-self: center;
    justify-content: center;
}

#proPage-proPic,
.proPage-proPic-edit {
    max-width: 130px;
    height: 130px;
    margin: 0%;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    z-index: 2 !important;
    position: absolute;
}

.proPage-proPic-edit {
    color: #ff7eb3;
    font-weight: bolder;

    opacity: 0;
    background-color: #02000073;
    width: 100%;
    height: 100%;
}

.proPage-proPic-edit:hover {
    outline: none;
    border: none;
    opacity: 1 !important;
    transition: 0.2s;
}

.proPage-proPic-edit p {
    margin: 0;
    text-align: center;
}

#proPage-changeIcon {
    width: 30px;
    height: 30px;
    align-self: center;
}

.proPage-editPro-btn::before {
    content: '';
    position: absolute;
    background: linear-gradient(to right, #f187b3, #ff7e89);
    filter: blur(10px);
    transform: translateZ(-2px) scale(0.9);
    width: 100%;
    height: 100%;
}

.proPage-editPro-btn {
    max-width: 150px;
    height: 45px;

    display: grid;
    grid-template-columns: min-content, min-content;
    grid-auto-flow: column;
    align-items: center;
    align-self: flex-end;
    position: relative;

    outline: none;
    border: none;
    border-radius: 10px;
    margin: 25px 50px;

    font-size: 18px;
    background-color: white;
    color: #ff758c;
    transform-style: preserve-3d;
}

.proPage-editPro-btn:hover {
    background: linear-gradient(to right, #f187b3, #ff7e89);
    color: white;
}

#proPage-editPro-icon {
    width: 23px;
    height: 23px;
    margin: auto;
    border-radius: 8px;
}

 .proPage-followInfo {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px max-content;
    justify-items: center;
    align-items: center;

    margin: 15px 25px;
    padding: 0% 40px;
}

 .proPage-followInfo::before {
    content: '';
    position: absolute;

    width: 90%;
    height: 100%;

    border-bottom: 1px solid #c4c4c4;
} 

 .proPage-followInfo > div {
    font-size: 18px;
    color: grey;

    position: relative;

    display: grid;
    max-width: max-content;
    grid-auto-flow: row;
    grid-template-rows: min-content min-content;
    row-gap: 5px;
    grid-template-columns: 1fr;

    justify-items: center;
    align-items: center;

    padding-left: 15px;
    padding-right: 15px;
}

.proPage-postInfo::before,
.proPage-followerInfo::before {
    content: '';
    position: absolute;
    right: 0;
    margin: auto;
    height: 40px;
    width: 50%;
    border-right: 1px solid #c4c4c4;
}

#proPage-postCount,
#proPage-followerCount,
#proPage-followingCount {
    font-weight: bold;
    color: black;
}

.proPage-followInfo > div > p {
    margin: 0%;
}

#proPage-bio {
    font-size: 16px;
    color: black;
    text-align: center;
    justify-content: center;
    grid-column: 1 / -1;
    padding: 10px 0px;
}

.proPage-navContainer {
    grid-area: proPage-nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}

.proPage-postPanel {
    grid-area: proPage-post;
    margin: 0vmax;
    position: relative;
} */
.propage-cover-container {
    position: relative;
    height: 300px;
    grid-area: propage-cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.6));
}

#propage-procover {
    position: absolute;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    width: 100%;
    z-index: -1;
}

.propage-editpro-btn {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    max-height: 50px;
    background: white;
    color: #f37eaf;
    border-radius: 10px;
    z-index: 1;
}

.propage-editpro-btn:hover {
    background: #f37eaf;
    color: white;
}

#propage-editpro-icon {
    font-size: 20px;
}

#propage-editpro-text {
    font-size: 18px;
}

.propage-profile {
    column-gap: 10px;
}

.propage-propic {
    position: relative;
    max-height: 130px;
    border: 3px solid white;
    border-radius: 10px;
}

.propage-name {
    font-family: 'Lato-Black', sans-serif;
    /* font-size: 36px; */
    color: white;
}

.propage-username {
    font-size: 24px;
    color: white;
}

.propage-navcontainer {
    grid-area: propage-nav;
    /* column-gap: 15px; */
    max-width: 420px;
    position: relative;
    height: max-content;
}

.propage-post {
    grid-area: propage-post;
}

@media screen and (max-width: 590.5px) {
    #propage-editpro-text {
        display: none;
    }

    #propage-editpro-icon {
        margin: 14px !important;
        font-size: 20px;
    }
}

@media screen and (max-width: 744px) {
    ul.propage-navmenu {
        display: none !important;
        max-width: 100%;
    }
    .propage-navcontainer {
        grid-area: initial !important;
        max-width: 100%;
    }

    .propage-mainlayout {
        grid-template-areas:
            'propage-cover'
            'propage-post' !important;
        grid-template-columns: 100%;
    }
}

.propage-poppularityinfo *,
.propage-navmenu * {
    margin: 0;
    list-style-type: none;
}

.propage-poppularityinfo .propage-followerinfo::before {
    content: '';
    width: 100%;
    height: 70%;
    border-right: 2px solid rgb(189, 189, 189);
    border-left: 2px solid rgb(189, 189, 189);

    position: absolute;
    left: 0;
    top: 20%;
}

.propage-navmenu li .propage-navtag {
    position: relative;

    display: flex;
    flex-direction: row;
    column-gap: 25px;

    justify-items: start;
    align-items: center;

    height: 50px;
    width: 100%;

    font-size: 16px;
    text-decoration: none;
    color: black;

    padding-left: 25px;
    border-radius: 5px;
}

.propage-navmenu li .propage-navtag:hover {
    background-color: #f7f7f7;
}

.propage-icon {
    font-size: 22px;
}

.propage-active {
    background-color: #e9e8e8;
}

.propage-active::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
    top: 0%;
    background: linear-gradient(to bottom, #d4145a, #fbb03b);
    border-radius: 2.5px;
}

.propage-navmenu,
#propage-logout-btn,
#propage-bio {
    position: relative;
}

.propage-navmenu::before {
    content: '';
    position: absolute;
    width: 85%;
    height: 1px;
    top: 0;
    border-radius: 0.5px;
    background-color: rgb(189, 189, 189);
}

#propage-logout-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    border-radius: 0.5px;
    background-color: rgb(189, 189, 189);
}
