
* {
    margin:0;
    padding:0;
  }
ul { 
    list-style-type: none !important;
    /* margin-left: -20px; */
}

.list-item {
    text-decoration: none !important;
}

.list-item:hover {
    color: rgb(211, 123, 217) !important;

}

.footer-underline-head{
    border-bottom: rgb(236, 233, 228) solid 0.1px;
    width: 100px;
}


.footer-logo-text{
    font-size: 12px;

}
.bg-bottom {
    background-color: rgb(61, 61, 61);
}

@media only screen and (min-width: 992px) {
    .footer-underline-head {
     border: none;
    }
  }

  @media only screen and (max-width: 576px) {
    
  }

.footer-logo {
    width: 70px;
    height: 70px;
    
    /* transition: transform 1.8s ease-in-out; 
    transform:rotate(360deg);  */
    
 
}

.footer-logo:hover {
    transition: transform 1.8s ease-in-out; 
    transform:rotate(360deg); 

}

.footer-com-logo {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.footer-com-logo:hover{
    zoom: 1.2;
}



