.topbar-main-layout {
    width: 10vw;
    background: white;
    color: var(--main-text-color);
}

.topbar-logo-text {
    margin-left: 12px;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.topbar-search-input {
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 20px 10px 36px;
    height: 38px;
    border: none;
}
.topbar-search-layout {
    position: relative;
    margin-right: 12px;
    min-width: 330px;
}

.topbar-search-input-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.topbar-profile-img {
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.topbar-btn {
    color: var(--main-text-color) !important;
    background: #efefef !important;
    font-family: 'Lato' !important;
}

.topbar-btn.active {
    background: #fff;
    color: #333;
}

.topbar-btn-create-post {
    background: linear-gradient(114.66deg, #ffb800 15.42%, #ff5d5d 83.95%);
    font-family: 'Lato' !important;
}

.topbar-btn-sing-up {
    font-weight: bold;
    font-family: 'Lato' !important;
    border: 1.75px solid #E64E4E !important;
}

.topber-btn-icon {
    position: relative;
    /* top: -2px; */
    margin-right: 4px;
    
}

/* custom-bootstrap-css */
.modal-content {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.topbar-popup-body {
    border-radius: 24px;
}
