.upload-form-main-layout {
    border: none;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;

    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    background: #ffffff;
    border-radius: 20px;
}

.upload-form-text {
    display: flex;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.upload-form-text-header {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    color: #e64e4e;
}

.upload-form-uplaod-picture-box-icon-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: auto;
    height: auto;
}

.upload-form-upload-picture-box-icon {
    width: 115px;
    height: 115px;
    border: 1px black solid;
}

.upload-form-upload-box-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 20px;

    color: rgba(0, 0, 0, 0.5);
}

.upload-form-upload-box-text p {
    margin: 0.3rem 0 !important;
}

#upload-form-browse-button {
    font-weight: bold;
    color: #e64e4e;
}

.upload-form-picture-box-Or {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;

    color: #2189ce;
}

.upload-form-picture-box-button {
    height: 54px;
    width: 150px;
}

#upload-form-picture-box-button-main {
    height: 50px;
    width: 145px;

    text-decoration: none;
    border-radius: 10px;

    color: white;
    background: rgba(16, 100, 156, 1);
    box-shadow: 0px 0px 15px 0px rgba(40, 145, 215, 0.5);
}

.upload-form-input-all {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 5px;
    width: 100%;

    /* background-color: red; */
}

.flex-item {
    display: flex;
    flex-direction: row;
}

.item {
    flex: 1;
}

.upload-form-button-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 5px;
}

.upload-form-button-upload {
    width: 100%;
    max-width: 100px;
    height: 40px;

    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;

    background: linear-gradient(#f47d60, #e64e51);

    border-radius: 20px;

    border: none;
}
.upload-form-button-upload.cancel {
    background: #ffffff;
    color: #e64e51;
    border: 2px solid #e64e4e;
}

.upload-form-button-upload:hover {
    box-shadow: 0px 2px 5px #e64e5150;
}

.upload-from-drag-and-drop-layout {
    width: 100%;
    background: #e64e4e10;
    border-radius: 25px;
    border: 3px #e64e4e dashed;
    transition-property: border;
    transition-duration: 1;
    padding-top: 20px;
    padding-bottom: 5px;
    cursor: pointer;
}

.upload-from-drag-and-drop-layout:hover {
    background: #e64e4e20;
}

.upload-from-drag-and-drop-layout-selected {
    width: 100%;
    transition-property: border;
    transition-duration: 1;
    cursor: pointer;
    border-radius: 12px;
    border: 3px rgb(255, 255, 255) solid;
}

.upload-form-selected-img-layout {
    border-radius: 12px;
}

.upload-form-input-form {
    background: #ebf5fd;
    border-radius: 5px !important;
}
.upload-form-input-form-active {
    background: #c7daea;
    border-radius: 5px !important;
}

.upload-form-textfield {
    background: white;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.upload-form-line {
    background: #e64e4e;
    width: 100%;
    max-width: 50px;
    height: 1.5px;
    align-self: center;
    border-radius: 1px;
}
